*

!.gitignore

!giac.js
!giacsimple.js
!giacwasm.js
!index.html
!LICENSE.txt
!package.json
!bun.lock
!tsconfig.json
!justfile
!README.md
!CHANGELOG.md
!SECURITY.md
!CONTRIBUTING.md
!favicon.ico
!js/
!js/*.js
!js/i18n/
!js/i18n/*.js
!js/help/
!js/help/*.js
!css/
!css/*.css
!examples/
!examples/giac-js/
!examples/giac-js/*.json
!examples/compute-engine/
!examples/compute-engine/*.json
!scripts/
!scripts/*.js
!scripts/*.ts
!src/
!src/**
!tests/
!tests/**
!.github/
!.github/**
!assets/
!assets/*.png
!sw.js
!manifest.webmanifest

# Build output and dependencies
node_modules/
dist/
